{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row" style="margin-left: 11.5em">
    {% for list in lists %}
      <div class="col-md-3 list">
        <a href="{% url 'tasks:get_list' list.id %}" class="me-2 mt-2" style="color: black ;">{{list.name}}</a>
      </div>
    {% endfor %}
    </div>

  <!--Include "Display the success message" code -->
  {% include 'tasks/success_messages.html' %}

  <!--Include Function to show the confirmation popup for the "Delete" and "Reset ALL Tasks" button -->
  <div id="confirmationMessage"></div>
  
  {% include 'tasks/confirmation_popup.html' %}

  <!-- Include "Add new task" and "Reset All tasks" buttons --> 


  <!-- Include Dragging for the modals -->
{% include 'tasks/dragging.html' %}

{% endblock content %}

