{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row" style="margin-left: 11.5em">
    {% if lists|length == 0 %}
      <div class="col-md-10 text-center"><h2>Please add a list</h2></div>
    {% endif %}
    {% for list in lists %}
      <a href="{% url 'tasks:get_list' list.id %}" class="col-md-3 list me-2 mt-2" style="color: black ;">{{list.name}}</a>
    {% endfor %}
    </div>

  <!--Include "Display the success message" code -->
  {% include 'tasks/messages.html' %}

  <!--Include Function to show the confirmation popup for the "Delete" button -->
  <div id="confirmationMessage"></div>
  
  {% include 'tasks/confirmation_popup.html' %}

  <!-- Include Dragging for the modals -->
{% include 'tasks/dragging.html' %}

{% endblock content %}

